<h1>Contact Wreckers Robotics</h1>

<% if params[:success] == 'true' %>
    <div class="success-bar">EMail Sent Successfully</div>
<% end %>

<form role="form" method="post" action="#" id="contact-form">
  <div class="form-group">
    <label for="email">Email</label>
    <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email address">
  </div>

  <div class="form-group">
    <label for="subject">Subject</label>
    <input name="subject" type="text" class="form-control" id="subject" placeholder="Enter a descriptive subject">
  </div>

  <div class="form-group">
    <label for="msg">Message</label>
    <textarea name="msg" class="form-control" id="msg" rows="7" placeholder="Your Message"></textarea>
  </div>

  <input type="submit" value="Send">
</form>