<h1>Login</h1>

<% if h(params[:err]) == '1' %>
    <h3 style="color:red">Invalid Login</h3>
<% end %>

<form role="form" method="post" action="#" id="login-form">
  <div class="form-group">
    <label for="email">Email</label>
    <input name="email" type="email" class="form-control" id="email" placeholder="Enter your Email address">
  </div>

  <div class="form-group">
    <label for="pass">Password</label>
    <input name="pass" type="password" class="form-control" id="pass" placeholder="Enter your password">
  </div>

  <button type="submit" class="btn btn-primary">Log In</button>
</form>