<h1>Register</h1>

<% if params[:success] == 'true' %>
    <div class="success-bar">User <%= params[:name] %> Created</div>
<% end %>

<form role="form" method="post" action="#" id="register-form">
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="Enter your name">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email address">
  </div>

  <div class="form-group">
    <label for="pass">Password</label>
    <input name="pass" class="form-control" id="pass" placeholder="Your password" type="password" />
  </div>

  <input type="submit" value="Add">
</form>